DISCORD_KEY=replace-me
YOUTUBE_API_KEY=replace-me

DB_HOSTNAME=database
DB_USERNAME=ytchat
DB_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me
MYSQL_DATABASE=youtube_chat

LOG_CHANNEL=0
VIDEO_OUTPUT_CHANNEL=0
HIGHLIGHT_OUTPUT_CHANNEL=0
SEARCH_OUTPUT_CHANNEL=0
DOWNLOAD_CHANNEL=0
HIGHLIGHT_CHANNEL=0
SEARCH_CHANNEL=0

DOWNLOADS_PATH=./downloads
DATABASES_PATH=./databases
COOKIE_PATH=./cookie
